<%- include("../partials/header.ejs") %>

<div class="container">
    <h1>Edit Your Profile Data</h1>
<form action="/user/<%= currentUser._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">First Name</label>
    <input type="text" class="form-control" name="user[firstName]" placeholder="<%= currentUser.firstName %>", value="<%= currentUser.firstName %>">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="user[lastName]" placeholder="<%= currentUser.lastName %>" value="<%= currentUser.lastName %>">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" name="user[email]" placeholder="<%= currentUser.email %>" value="<%= currentUser.email %>">
  </div>  

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image</label>
    <img src="<%= user.profileImage %>" height='300px'>
    <input type="file" class="form-control" name="profileImage" accept='image/*'>
  </div>


  <!-- <input type="submit" value="submit"/> -->
  <button type="submit" class="btn btn-warning">Submit</button>
  <a href="/user/<%= user._id %>" class="btn btn-dark">Go back</a>
</form>
</div>

<%- include("../partials/footer.ejs") %>