<%- include("../partials/header.ejs") %>

<!-- <script src="/likeButton.js" defer></script> -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Hallo World</h1>
      <% if(currentUser && currentUser.isAdmin){ %>
      <p>
        <a href="/prints/new" class="btn btn-warning my-2">Add New Music</a>
        <a href="/user/delete" class="btn btn-warning my-2">Delete User</a>
      </p>
      <% } %>


  </div>
</section>

</div>
  <div class="album py-5 ">
    <div class="container BackgroundDetail">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% prints.forEach(function(prints){ %>
        <div class="col">
          <div class="card shadow-sm">
           <img src="<%= prints.image %>" height="300px" class="image-size">

            <div class="card-body">
              <p class="card-text">Title : <%= prints.name %></p>
              <p class="card-text">Artist : <%= prints.Artist %></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/prints/<%= prints._id %>" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
        
      </div>
    </div>
  </div>
<%- include("../partials/footer.ejs") %>